.title {
	color: #5C6AC4;
}
div {
  width: 300px;
  border: 5px solid grey;
  padding: 10px;
  margin: 5px;
  background-color: white;
}
.info {
  width: 450px ;
  border: 5px solid skyblue;
}
flex-container {
  display: flex;
  flex-wrap: wrap;

}
