body {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
}

.thank-you {
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}