body{
  padding: 0px;
}
.title {
	color: #5C6AC4;
}
div {
  width: px;
  border: 5px solid grey;
  padding: 10px;
  margin: 5px;
}
.info {
  width: 450px ;
  border: 5px solid blue;
  padding: 10px;
  margin 5px;
}
flex-container {
  display: flex;
  flex-wrap: wrap;
}