body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.page-container {
    max-width: 900px;
    margin: 30px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;

}

h1 {
    margin-top: 0;
    text-align: center;
}

.course-title {
    margin-bottom: 10px;
    padding: 10px;
    
}

.course-name {
    font-weight: bold;
}

.question{
    margin: 18px;
    padding-bottom: 10px;

}

.question-label {
    display: block;
    margin-bottom: 10px;
    
}

select, textarea, input[type="radio"]{
    font-size: 1rem;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;

}

.bottom-bar {
    display: flex;
}

.btn-next {
    padding: 10px 10px;
    background-color:rgb(85, 204, 255);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
}

.btn-next:hover {
    background-color: white;
}
