.available-courses {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
    
}

.course {
    padding: 20px;
    cursor: pointer;
    background-color: skyblue;   
    color: black;      
}

.course:hover {
    background-color: white;
}

.course.selected {
    border: 2px solid black;
    background-color: skyblue;
}

.course-actions {
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

